.header {
  padding: 10px 20px;
  background-color: #3590f3;
  margin-bottom: 40px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  font-weight: 900;
  color: #62a3e9;
  padding: 0;
  margin: 0;
}

.navLink {
  text-decoration: none;
  color: #ffffff;
  font-size: 28px;
  display: flex;
  align-items: center;
}
