.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: #3590f3;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > p {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
}
